* {
    font-size: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 420px;
    height: 500px;
    background: #333237;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 80px;
    padding: 5px;
    background: #39746e;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.input div {
    display: flex;
    gap: 20px;
}

.input div button {
    width: 65px;
    height: 65px;
    border-radius: 10px;
}

.row {
    padding: 5px;
}

.operator, #equal {
    background: #202125;
    color: white;
}

.digit {
    background: #9b9fa2;
}

#clear {
    background: #7f9c51;
}